
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 75, 75, 0.336);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    border-radius: 8px;
    max-width: 500px;
    position: relative;
    align-content: center;
  }

  /* Modal show state - use a class to show the modal */
.modal-backdrop.show {
  opacity: 1; /* Show backdrop */
  transform: scale(1); /* Scale back to normal */
}

.modal-content.show {
  opacity: 1; /* Show content */
  transform: translateY(0); /* Move content to its original position */
}