/* Wrapper container to hold both the title and events */
.external-events-container {
  max-width: 100%;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  justify-content: center;
  align-items: center; /* Optionally center vertically if needed */
  box-sizing: border-box;
}

/* Style for the title */
.external-events-title {
  grid-column: span 3; /* Ensure it spans all columns */
  background-color: #e2e2e2;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  color: #333;
  margin-bottom: 15px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  
}

/* Style for the container holding the events */
.external-events {
  padding: 0 40px ;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 3 equal columns */
  gap: 10px; /* Add spacing between columns */

}

/* Style for each event in the external events section */
.external-event {
  padding: 10px;
  margin: 5px 0;
  background: #fff;
  border-radius: 10px;
  cursor: grab;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
  font-weight: bold;
  /* border-top: 6px solid #a734ba ; */
}

.external-event .priority-number{
  font-size: 0.75em;
  font-weight:bold;
  background-color: rgb(230, 230, 230);
  padding: 3px 10px 3px 10px;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  margin-right: 5px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
}

.external-events .ant-empty {
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  grid-column: span 3;
}

.priority-column-inner .ant-empty-image{
  height: 50px;
}

/* Style for each priority column */
.priority-column {
  background-color: #ffffff;
  flex: 1;
  padding: 10px;
  border-radius: 25px;
  min-height: 245px;
  overflow-y: auto;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
  /* border: 2px solid rgb(228, 228, 228) */
}

/* Style for the inner grid within each priority column */
.priority-column-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 10px; /* Spacing between tasks */
  flex-grow: 1;
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.priority-headings {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  color: rgb(0, 0, 0); /* Set text color to white */
  grid-column: span 2; /* Ensure it spans both columns */
}

.priority-column .ant-empty-description {
  color: white;
}

.external-event:active {
  cursor: grabbing;
}