.collapse-button{
    background-color: #e3fcff;
    /* margin: 16ox; */
    padding: 14px 0;
    text-align: center;
    position: sticky; /* Make the navbar sticky */
    top: 0; /* Stick the navbar to the top of the page */
    z-index: 1000; /* Ensure the navbar stays on top of other elements */
}

  
  /* Style the Menu to be sticky as well */
  .sidebar-container .ant-menu { /* Target the Menu component inside Sidebar */
    position: sticky;
    top:  60px;
    z-index: 100;     /* Keep it just below the collapse button */
    background-color: white; /* Match sidebar background for visual consistency */
  }
  
  
