/* TaskInput.css */

.task-input-container {
    max-width: 100vw;
    width: 100%; /* Ensure it takes up the full available width */
    display: flex;
    padding: 25px;
    /* background-color: #ffffff; */
    gap: 15px;
    border-radius: 20px;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    box-sizing: border-box;
}

.task-input {
    border: none;
    width: 80%; 
    padding: 10px 12px;

    border-radius: 10px;
    /* Rounded corners */
    font-size: 16px;
    /* Readable font size */
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.task-input:focus,
.button:focus {
    outline: none;
    /* Remove default focus outline */
    border-color: #000000;
    /* Blue border on focus */
}

/* Align select and button in one row */
.task-select-button-container {
    display: flex;
    justify-content: space-between;
    /* Space out select and button */
    gap: 10px;
    /* Space between select and button */
    height: 100%;
    /* padding: 10px; */
    max-height: 100%;
}

.task-select-button-container button {
    padding: 10px;
    font-size: 14px;
    background-color: #e2e2e2; 
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Button hover effect */
.task-select-button-container button:hover {
    background-color: #cecece; /* Darker green when hovered */
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
