/* Backlog section header */

  
  /* Task text in the backlog */
  .task-backlog .task .task-text {
    max-width: 150px; /* Reduce width of task text */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  /* Styling for task text expansion */
  .task-backlog .task .task-text.expanded {
    white-space: normal;
    overflow: visible;
  }

  
/* Backlog Section */
.task-backlog {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 15px;
    max-height: 400px;
    max-width: 100%;
    overflow-y: auto; /* Enable scrollbar */
    padding: 10px;
    border-radius: 0%;
    border: none;
  }

  /* Droppable area */
/* .droppable {
    min-height: 150px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
    transition: background-color 0.2s, box-shadow 0.2s;
    overflow-y: auto; 
  } */